.no-order-image{    background-size: auto;     background-position: 100% 100%!important; padding: 0;}
.cart-no-product-image{width: 280px;}
.brand-icon{    margin-right: 5px;
    vertical-align: middle;}