 .select-btn:hover .travis-icon {color: #1b84ff!important; }
 .select-btn .travis-icon{color: #000!important; }

 .select-toogle .ant-select-selector{ width: 290px!important;}
 

/* .select-btn:hover{background-color: #f1f1f1!important;} */ 

 /* .select-btn:hover .travis-icon{border-color:#707070 ;}
 .select-btn span{color:#707070!important;}
 .select-btn i{color:#707070!important;}
 .select-btn:hover{background-color: #000!important;}
 .select-btn:hover span{color:#fff!important;}
 .select-btn:hover i{color:#fff!important;} */

 