/* .nav-line-tabs .nav-item .active-tab.active {
    color: #fff;
    background: #000;
    border-bottom: none;
    border-radius: 40px;
    padding: 8px 14px;
}

.nav-line-tabs .nav-item .active-tab.active:hover {
    color: #fff;
    background: #000!important;
    border-radius: 40px;
    border: none!important;
    padding: 8px 14px;
    border-bottom: none;
}



.nav-line-tabs .nav-item .active-tab:hover{    color: #fff;
    background: #707070!important;
    border: 1px solid #707070!important;
    border-radius: 40px;
    padding: 6px 14px;}

    .nav-line-tabs .nav-item .active-tab{    color: #707070;
      background-color: #fff;
        border:1px solid #707070;
        border-radius: 40px;
        padding: 6px 14px!important;} */



        .nav-line-tabs .nav-item .active-tab.active {
            color: #fff;
            background: #000;
            border-bottom: none;
            border-radius: 4px;
            padding: 8px 14px;
        }
        
        .nav-line-tabs .nav-item .active-tab.active:hover {
            color: #fff;
            background: #000!important;
            border-radius: 4px;
            border: none!important;
            padding: 8px 14px;
            border-bottom: none;
        }
        
        
        
        .nav-line-tabs .nav-item .active-tab:hover{    color: #fff;
            background: #000!important;
            border: 1px solid #707070!important;
            border-radius: 4px;
            padding: 8px 14px;}
        
            .nav-line-tabs .nav-item .active-tab{    color: #fff;
              background-color: #1e2129;
              font-size: 16px;
                border:1px solid #707070;
                border-radius: 4px;
                padding: 8px 14px!important;}

                .cart-img{width: 24px; margin-right: 10px!important; }
                .cart-img:hover{width: 24px; margin-right: 10px!important;}
                  .nav-link-tab .nav-item:first-child .nav-link{margin-left: 3px!important;}
                 