 .select-btn:hover .travis-icon {color: #1b84ff!important; }
 .select-btn .travis-icon{color: #000!important; }

 .select-toogle .ant-select-selector{ width: 290px!important;}
 

/* .select-btn:hover{background-color: #f1f1f1!important;} */ 

 /* .select-btn:hover .travis-icon{border-color:#707070 ;}
 .select-btn span{color:#707070!important;}
 .select-btn i{color:#707070!important;}
 .select-btn:hover{background-color: #000!important;}
 .select-btn:hover span{color:#fff!important;}
 .select-btn:hover i{color:#fff!important;} */

 /* .ant-steps-item-content{width: 150px;} */
 

 /* :where(.css-dev-only-do-not-override-1r287do).pro-bar-list .ant-steps.ant-steps-label-vertical .ant-steps-item-content{
    width: 190px!important;
 } */

 .pro-bar-list .ant-steps-item-description{width: 190px!important; font-size: 14px;}

 :where(.css-dev-only-do-not-override-1r287do).ant-steps.ant-steps-label-vertical .ant-steps-item-content{
    margin-left: -35px!important; margin-top: 5px!important;
 }
 .pro-bar-list{margin-left: 33px!important;}
 /* .pro-bar-list .ant-steps-item-title{text-align: ;} */
 .step{margin-left: -42px;}
 .pro-bar-list .ant-steps-item-container .ant-steps-item-content{margin-left: -35px!important} 