.timeline .ant-modal-content{width: 700px!important; left: -100px;}
.timeline .ant-modal-footer .ant-btn-primary:hover{background-color: #333;}
.timeline .ant-modal-footer .ant-btn-primary{background-color: #000;}
.timeline .ant-btn-default:hover{border-color: #333!important; color: #333!important;}
.timeline .ant-modal-title{font-size: 18px!important;}
.submit-popup .ant-modal-content{width:auto!important; left: 0;}

.submit-popup .ant-modal-title{font-size: 18px!important; text-align: center!important;}
.submit-popup .ant-modal-footer{ margin-top: 20px; margin-bottom: 5px;}

.form-check.form-check-solid .submit-order:not(:checked){    background-color: #f8f8f8;
    border: 1px solid #dddd; cursor: pointer;}