.select-btn-detail{    color: #707070;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 40px;
    padding: 4px 14px !important;}

    .select-btn-detail:hover{ 
        color: #fff!important;
        background: #000 !important;
        border: 1px solid #707070 !important;
        border-radius: 40px;
       
    }

    .select-btn-detail i{ color: #707070;   font-size: 14px;
        padding-right: 5px;
        vertical-align: inherit;}

        .select-btn-detail:hover i{color: #fff;}