.svg-cart svg{    height: 2.00rem!important;
    width: 2.00rem!important;}

    .cart-btn{font-size: 14px; color: #fff;  padding-right: 10px; padding-left: 5px;}
    .cart-button{width: 90px !important; margin-right: 10px;
        background: rgba(255, 255, 255, 0.1) !important;
        padding: 19px 0px!important;}
    .profile-img{          background: rgba(255, 255, 255, 0.2);
        border-radius: 5px !important;
        width: 41px !important;
        height: 37px !important;
        /* border: 1px solid #fff; */
        align-items: center;
        display: flex;
        justify-content: center;
        

    }

    .profile-img img{padding: 2px;}
    .cart-button:hover{background-color: #383838!important;}
    .btn.btn-active-light-primary:hover:not(.btn-active){background-color: #383838!important;} 
    .cart-button:hover .svg-cart {color: #fff!important;}
    .cart-button .svg-cart {color: #fff!important;}

    .order-btn{width: 118px !important;
        margin: 0 12px;
        padding: 0 0 0 10px!important;
        height: 38px !important;}
        .order-btn i{font-size: 18px; margin-right: 3px;}