
  



  #date-prodect{    font-size: 28px;
    background: transparent;
    color: #fff;
    border: none;} 

.time-date{font-size: 28px; font-weight:400 ;}


.time-section{height: 240px!important;}
.calendar i{ width: 30%;}

.time{ color: #fff; border-radius: 3px; padding: 0 2px; font-weight: 100!important; font-size: 36px;  }
.time-title{font-size: 10px;position: absolute; top: -10px; left: 106px; letter-spacing: 0.8px;  font-family: Inter, Helvetica, "sans-serif"; }
.time-min{font-size: 10px; position: absolute; top: -10px;     left: 170px; letter-spacing: 0.8px; font-family:Inter, Helvetica, "sans-serif";}
.time-sec{font-size: 10px; position: absolute; top: -10px;     right: 130px; letter-spacing: 0.8px; font-family: Inter, Helvetica, "sans-serif";}
.calendar{justify-content: center; position: relative;}
.dot-time{font-size: 30px;}
.dots{font-size: 30px; padding-left: 2px; padding-right: 2px;}
.date{  color: #fff; border-radius: 3px; padding: 0 2px; font-weight: 500; font-size: 42px; margin: 0 2px 0 3px;}
.calendar-day{  color: #fff; border-radius: 3px; padding: 0 5px; font-weight: 500; font-size: 60px;  }


.day{ background-color: #fff; color: #000; border-radius: 3px; padding: 0 2px; font-weight: 500; }
.month-title{font-size: 12px;position: absolute; top: -18px; left: 60px; color: #f1f1f4;}
.day-title{font-size: 12px;position: absolute; top: -18px; left: 30px; color: #f1f1f4; }
.year-title{font-size: 12px;position: absolute; top: -18px; right: 60px; color: #f1f1f4; }

.date-calendar{position: relative;}
.time-date {justify-content: center;  }
.calendar-var{position: relative;}
.var-title{font-size: 12px;position: absolute; top: -18px; left: 180px; color: #f1f1f4;}
.var{    margin-top: 2;  border-radius: 3px; padding: 0 2px; font-weight: 500; text-transform: uppercase;
padding: 4px 6px;
}

.calla-img{width: 80px;}



/* TilesWidget2.css */

/* If hosting the font locally */
/* @font-face {
    font-family: 'Digital-7';
    src: url('/src//_metronic//digitalFont/digital-7.ttf');
    src: url('/path-to-your-font/Digital-7.eot?#iefix') format('embedded-opentype'),
         url('/path-to-your-font/Digital-7.woff2') format('woff2'),
         url('/src/_metronic/digitalFont/digital-7\ \(mono\).ttf') format('woff'),
         url('/src/_metronic/digitalFont/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .digital-font {
    font-family: 'Digital-7', sans-serif;
  }

 */


  
 @font-face {
  font-family: 'Crimson';
  src: url('/src//_metronic//digitalFontFamily/happy-times-at-the-ikob.ttf');
  src: url('/path-to-your-font/Digital-7.eot?#iefix') format('embedded-opentype'),
       url('/path-to-your-font/Digital-7.woff2') format('woff2'),
       url('/src/_metronic/digitalFontFamily/Crimson-Roman.ttf \(mono\).ttf') format('woff'),
       url('/src/_metronic/digitalFontFamily/happy-times-at-the-ikob.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  
  .digital-font {
    font-family: 'Crimson', sans-serif;
  }
  
  .date-1{color: #fff;}
  