#date-prodect{    font-size: 28px;
    background: transparent;
    color: #fff;
    border: none;} 

.time-date{font-size: 28px; font-weight:400 ;}
.date{font-size: 45px; font-weight: 500 ;}
.pro-time{font-size: 28px; font-weight: 400; padding-top: 5px; color: #ddd!important;}
.time-section{height: 210px!important;}
.calendar i{ width: 30%;}

  