/* .underline-from:hover{ background-color: #bfbfbf!important;} */

.underline-from{color: #000; opacity: 1;}
.select-option {height: 40px;}
.from-manager .ant-btn-primary{background-color: #000!important;}