
.table-travis{padding-top: 15px; padding-bottom: 15px;}
.table-travis .ant-table-thead tr th{background-color: transparent; color: #000;}
.table-travis .ant-table-thead tr th:hover{background-color: transparent!important; color: #000;}
.table-travis .ant-table-thead{background-color: #f6f6f6!important; color: #000;}
.table-travis .ant-table-column-has-sorters{
    background-color: #f6f6f6!important;
}
.table-travis .ant-table-has-fix-left{margin: 0!important;}


.card-table-travis .ant-table-thead tr th{background-color: #f5f5f5!important; color: #000!important;}
.card-table-travis .ant-table-row{background-color: #fff!important;}
.card-table-travis .ant-table-row td{background-color: #fff!important;}  

/* .travish-mat-section .ant-card-body{padding:30px 12px!important; overflow: auto!important;} */
.card-table-travis .ant-table-fixed-header .ant-table-container .ant-card-body{overflow: auto!important;}

.card-table-travis .css-dev-only-do-not-override-1r287do{left: -3px;}
.toggle-dropdown #pet-select{ margin-left: 10px; width: 60px;     border: 1px solid #d9d9d9;
    background: #ffffff;}
.anticon-down{vertical-align: middle;}
.show-prodect{width: 70px;}

.travish-mat-section{position: relative;}
.show-prodect-section{position: absolute;top: 123px;}
 .ant-pagination-options .ant-select-sm{   
    height: 31px!important; top:-4px!important;}

    .cart-table-profile .ant-spin-container .ant-table-thead .ant-table-cell{background-color: #333!important; color: #fff!important;}

:where(.css-dev-only-do-not-override-1r287do).cart-table-profile .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1r287do).ant-table-wrapper .ant-table-thead >tr>td{
    background-color: #111!important;
    color: #fff!important;
}

.table-profile .ant-table-thead tr th{background-color: #000!important; color: #fff!important;}


  

