.cwy-banner .slick-slider{top: -80px!important; z-index: -1;}
.cwy-banner .prodect-image img{border-radius: 0px!important;}
.cwy-banner .slick-list{border-radius: 0px!important;}
.cwy-banner{height: 370px;}
.content-dashboard{margin-top: -300px;}