.note-modal .ant-btn-primary{ background-color: #000!important;}
.status-select .ant-select-selection-item{font-weight: 500!important;}
.status-select .ant-select-item
{font-weight: 500!important;}