.note-modal .ant-btn-primary{ background-color: #000!important;}
.status-select .ant-select-selection-item{font-weight: 500!important;}
.status-select .ant-select-item

{font-weight: 500!important;}
.note-modal .ant-modal-content{width: 700px!important; left: -90px!important;}
.note-text{font-size: 20px;}

.note-modal .ant-modal-title{font-size: 18px!important;}
.delete-btn{color: red; border: 1px solid red;}
.delete-btn:hover{background-color: #707070!important; color: #fff!important; border: 1px solid #707070!important;}